platform:
  security:
    mock:
      enabled: true

spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        use_sql_comments: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.hibernate.stat: DEBUG
    org.springframework.orm.jpa: DEBUG
    org.springframework.transaction: TRACE
